---
import { render } from "astro:content";
import { ArrowRight } from "@lucide/astro";
import { ArrowLeft } from "@lucide/astro";

const { posts, currentPage, totalPages, tags } = Astro.props;
const baseurl = import.meta.env.BASE_URL;

const formatDate = (date: Date) => {
  return date.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};
---

<ul class="mx-auto max-w-page my-5 px-1">
  {posts.map((post) => (
    <li class="grid grid-cols-[150px_1fr] gap-10">
      <div class="flex flex-col items-start">
        <a
          href={`${baseurl}/${post.id}`}
          class="sticky top-25 w-full"
          data-major={post.data.major}
        >
          <span class="text-sm text-surface-gray-5 flex items-center gap-3">
            <div
              class="bg-surface-gray-5 size-2 rounded shrink-0 relative z-10 ring-4 ring-outline-gray-2"
            />
            {formatDate(post.data.date)}
          </span>
        </a>
        <div class="w-px grow bg-surface-gray-2 ml-1" />
      </div>

      <div class="mb-15 -mt-1 flex flex-col">
        <a
          class="w-fit text-2xl font-semibold relative pb-1 after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:bg-current after:transition-all after:duration-300 hover:after:w-full"
          href={`${baseurl}/${post.id}`}
        >
          {post.data.title}
        </a>
        <p class="text-ink-gray-6 leading-relaxed mt-2 mb-5">
          {post.data.description}
        </p>

        <!-- tags -->
        {tags && (
          <div class="flex gap-2">
            {post.data.tags.map((tag) => (
              <a
                href={`${baseurl}/tags/${tag}`}
                class="border border-outline-gray-1 text-ink-gray-5 capitalize px-2 py-1 text-xs rounded bg-surface-gray-2 hover:bg-surface-gray-3"
              >
                {tag}
              </a>
            ))}
          </div>
        )}
      </div>
    </li>
  ))}
</ul>

<!-- Pagination -->
<div
  class="flex gap-5 pb-10 mx-auto max-w-page text-sm text-ink-gray-6 justify-end"
>
  {currentPage > 1 && (
    <a
      href={currentPage === 2 ? `${baseurl}/` : `${baseurl}/page/${currentPage - 1}`}
      class="flex items-center gap-2"
    >
      <ArrowLeft class="size-3.5" />

      Prev</a>
  )}

  {currentPage < totalPages && (
    <a
      href={`${baseurl}/page/${currentPage + 1}`}
      class="flex items-center gap-2"
    >
      Next
      <ArrowRight class="size-3.5" />
    </a>
  )}
</div>
