---
import { render } from "astro:content";
import { getFileFromRoute } from "@/utils";
import { ArrowRight } from "@lucide/astro";
import { ArrowLeft } from "@lucide/astro";

const { posts, currentPage, totalPages } = Astro.props;
const baseurl = import.meta.env.BASE_URL;
---
  <ul class="mx-auto max-w-3xl my-5">
    {posts.map((post) => (
      <li class="pb-20 grid grid-cols-[150px_1fr] gap-5">
        <a href={`${baseurl}/version/${post.id}`} class="sticky top-8 self-start">
          <div class="bg-surface-gray-6 text-white p-2 w-fit rounded text-xs">v{getFileFromRoute(post.filePath)}</div>
          <span class="text-sm text-surface-gray-5 flex items-center gap-2 mt-3">
            {post.data.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
          </span>
        </a>
        <div class="prose">
          {render(post).then(({ Content }) => <Content />)}
        </div>
      </li>
    ))}
  </ul>

  <!-- Pagination -->
  <div class="flex gap-5  pb-10 mx-auto max-w-3xl text-sm text-ink-gray-6 justify-end">
        {currentPage > 1 && (
        <a href={currentPage === 2 ? `${baseurl}/` : `${baseurl}/page/${currentPage - 1}`} class='flex items-center gap-2'>
          <ArrowLeft class="size-3.5" />

          Prev</a>
    )}

    {currentPage < totalPages && (
    <a href={`${baseurl}/page/${currentPage + 1}`} class='flex items-center gap-2'>
      Next
      <ArrowRight class="size-3.5" />
    </a>
    )}
  </div>
