---
import "@/styles/global.css";

import Header from "@/components/Header.astro";
import BaseHead from "@/components/BaseHead.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  release: CollectionEntry<"releases">;
};

const { release } = Astro.props;

const formatDate = (x: string) =>
  new Date(x).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={release.data.title}
      description={release.data.description}
      image={release.data.image}
    />
  </head>

  <body>
    <Header />
    <div class="max-w-page mx-auto pb-20 px-4 md:px-0">
      <div class="content prose prose-sm md:prose-md mx-auto mt-3 md:mt-6">
        <div class="text-sm text-ink-gray-5 tracking-wide uppercase -mb-4">
          {formatDate(release.data.date)}
        </div>

        <h2>{release.data.title}</h2>
        <p class="!-mt-4">{release.data.description}</p>

        <slot />
      </div>
    </div>
  </body>
</html>
